header.Header 
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="/img", alt="alogo")

      .col-9 
        .inner-menu 
          ul 
            li 
              a(href="/") Trang chủ 
          ul 
            li 
              a(href="/caegories") Danh mục 
